:root{
  --accent-color: #0000008c; /* color of "west-ward on steam" and the social links in footer */
  --accent-hover: #0000003b; /*#0000003b the color used for the footer social links on hover and the steam button hover */
  --accent-button: #ffee00;
  --steam-button-h: 70px;
  --steam-button-w: 200px;
}
* {
  box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Jost'; /* the default font for all text */
  }

a {
  text-decoration: none;
}
h1, h2, h3, h4, h5 {
  font-weight: lighter;
  font-family: "satisfy", cursive; /* the font for header text */
  text-align: center;
  border: none;
}
h3{
  font-size: calc(30px + 1vw);
}
h4 {
  font-size: calc(20px + 1vw);
}
 /*tools to align things*/
.halign{
  text-align: center;
}
.ralign {
  text-align: right;
}
.lalign {
  text-align: left;
}

.bg-img {
  /* The image used */
  background-image: url("../img/banner.png"); /* banner img here!! */
  min-height: 380px;

  /* Center and scale the image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* The navbar */
.topnav {
  min-height: 380px;
  overflow: hidden;
  text-align: center;
}
/* Navbar links */
  .topnav a {
    margin-top: 25px;
    display: inline-block;
    float: none;
    color: black;


    text-align: center;
    min-width: 50px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .topnav a:hover {
    color: #f2f2f2;
    text-shadow: 1px 1px 5px black; /*NAV MENU TEXT SHADOW*/
  }

/*dropdown button (games)*/
.dropbtn {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2; /*background color of the dropdown buttons before hover*/
  z-index: 1;
}
  .dropdown-content a {
    text-align: left;
    color: black; /*color of the text in dropdown buttons before hover*/
    margin:0;
    padding: 14px 16px;
    font-size: 17px;
    min-width: 160px;
    display: block;
  }
  .dropdown-content a:hover {
      background-color: #ddd; /*background color of the dropdown buttons after hover*/
      color: black; /*color of the text in dropdown buttons after hover*/
      text-shadow: none;
  }
  .dropdown:hover .dropdown-content {
      display: block;
  }

/*for the banner title -- it's just font*/
.topnav h3 {
    font-weight: lighter;
    font-family: "satisfy", cursive;
    font-size: 60px;
    margin-top: 15px;
    margin-bottom: 110px;
    border: none;
    text-align: center;
  }

/* "westward on steam" on homepage */
.boxed-btn4 {/*not mine*/
    height: var(--steam-button-h);
    width: var(--steam-button-w);
    background-color: var(--accent-color);

    letter-spacing: 1.5px;
    box-shadow: 0px 0px 2px 2.5px black; /*border looking thing. the first two values is h-offset/v-offset. third value is blur. fourth is size.*/

    display: inline-block;
    text-align: center;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    cursor: pointer;
  }
  .boxed-btn4 a{
    color: #fff;
    text-shadow: none;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  .boxed-btn4:hover i.fa-steam::before{ /*this is the thing that changes the steam icon color on hover*/
    color: var(--accent-button);
  }
  .boxed-btn4:hover a, .boxed-btn4:hover{ /*this is the "West-Ward on Steam" text & bg when hovered on*/
    color: var(--accent-button);
    text-shadow: 1px 1px #000000;
    background-color: var(--accent-hover);
  }

  .boxed-btn4 i.fa-steam::before { /*to make sure that the steam icon is white and not the grey color from the footer */
    color: white;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }

.steamButton{
  height: var(--steam-button-h);
  width: var(--steam-button-w);
  display: flex!important;
  align-items: center;
  justify-content: center;
  line-height: 0.5em;
  overflow: hidden;
}
.steamButton .fa-steam{
  font-size: 40px;
  margin-RIGHT: 10px;
  border: 0;
}
.steamText{
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
.steamText h5 {
  margin-block-start: 15;
  margin-block-end: 0;

  font-size: 20px;
  font-weight: lighter;

}
.steamText p{
  font-size: 12p;
  padding-bottom: 15px;
}




/* body */
#body {
    width:100%;
}
#container {
    width: 100%;
}

/* row not used? */
.row {
	/*margin: 0 8vw;*/
	max-width: 1100px;
	/*min-width: 600px;*/

	margin-left: auto;
	margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.col {
    justify-content: center;


    margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;




	/*border: 5px solid #408080; /* good for debugging game tiles */
	overflow:hidden;
}

/*
@media screen and (max-width: 550px) {
  .row {
    justify-content: space-between;
  }
  .col, .col:first-child {
    margin-left: auto;
    margin-right: auto;
  }
}
*/


.gameTileContainer {
	max-width: 1800px;

	margin-left: auto;
	margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.gameTile {
    justify-content: center;

    margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 2vw;
	margin-bottom: 2vw;

	/*border: 5px solid #408080; /* good for debugging game tiles */
	overflow:hidden;
}

.gameIcon {
	/* Transition */
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: .25s;


	justify-content: center;
    text-align: center;

	max-width: 300px;
	min-height: 200px;

    color: black;
}
.gameIcon img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;

    border-radius: 50%;
    overflow: hidden;
	justify-content: center;
    opacity: 1;

}
.gameIcon:hover{ /*change to .gameIcon:hover if you dont want the whole thing to be hoverable*/
    opacity: .7;
    cursor: pointer;
}

.gameIcon h3 {
    font-size: calc(20px + 1vw);
    margin-bottom: 0px;
    text-decoration: none;
}


/* footer */
#footer {
    margin: 0;
    padding: 0 3vw;
    background-color: black;
    width: 100%;
    height: calc(75px + 3vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stickyfoot {
  bottom: 0;
  left:0;
  position: fixed;
}
.credits {
    text-align: center;
    display: flex;
}
.credits p{
    font-size: calc(8px + .5vw);
    color: #d3d3d3;
    background-color: rgba(0, 0, 0, 0);
}

.social {
    display: flex;
}
i::before{ /*gets rid of weird underline for icons*/
    display: inline-block;
    text-decoration: none;
    color: #d3d3d3;
}
.icon {
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
    color: #d3d3d3;

    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: .25s;

	margin-left: 1px;
	margin-right: 1px;
}
.icon:hover {
    background-color: gray;
}

/*
@media screen and (min-width: 1500px) { /*the way I'm giving the desired margins for "desktop" mode*//*
  #container {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}*/
