
/* main blog stuff */
.entry {
    text-decoration: none;
    color: black; /* font color of entry */

    border-style: double;
    border-color: black;
    border-width: 10px;

    margin: 0 15vw; /* the space between the container and the sides of the browser */
    padding: 2.5vw; /* the space between the text and the container walls */

    /* how fast the transition is from hover to non-hover */
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
.entry:hover {
    cursor: pointer;
    background-color: rgb(255, 230, 0); /* color of the container on hover */
    box-shadow: 10px 10px #464646;
}
.entry h4 {
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0;

    text-align: left;
    font-size: calc(20px + 1vw);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-bottom: 2px solid black; /* the underline that separates the title from the description */
    padding-bottom: 20px;
}
.entry p {
    margin-block-start: 5px;
    margin-block-end: 10px;
    font-size: calc(10px + 1vw);
}

@media screen and (max-width: 500px) {
    .entry {
        margin: 0 50px;
    }
}


/* blog entry stuff */
.blog {
    /*margin: 0 12vw;*/
    padding: 2vw;
    overflow: hidden;
}
.blog h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
    text-align: left; /*remove if centered title desired*/
    margin-block-start: 0px;
    margin-block-end: 0;
    margin-inline-start: 2.5vw;
    margin-inline-end: 2.5vw;
    border-bottom: 2px solid black; /* the underline that separates the title from the description */

}
.blog h5 { /* used as subtitle */
    text-indent: 40px; /*remove if aligning center and/or add text-align: center; */
    font-size: calc(15px + 0.5vw);
    padding-top: calc(10px + 1vw);
    margin-bottom: calc(5px + 1vw)
}
.blog p{
    text-indent: 50px;
    margin-block-start: 2.5vw;
    margin-block-end: 2.5vw;
    font-size: calc(10px + 1vw);
    text-align: left;
}
.blog p:first-of-type{
    margin-block-start: 4vw;
}
.blog h4 { /* used as title of post */
    margin-block-start: 20px;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0;
    text-align: center; /*remove if centered title desired*/
    font-size: calc(20px + 1vw);
    border-bottom: 2px solid black; /* the underline that separates the title from the description */
    padding-bottom: 20px;
}
@media screen and (min-width: 1000px) {
    .blog p {
        font-size: 20px;
    }
}

/* media stuff (imgs/videos) */
iframe {
    width: 100%;
	height: auto;
    aspect-ratio: 16 / 9;
}
.blog .left {
    float: left;
    clear: left;
    margin: 2vw;
}
.blog .right {
    float: right;
    clear: right;
    margin: 2vw;
}
.blog img {
	display: block;
	width: 100%;
	height: auto;
}
